.contacts {
  padding-top: 55px;
  padding-bottom: 22px;
  text-align: center;
}

.contacts__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-gap: 30px;
}

.contacts__slogan {
  font-weight: $font-light;
  font-size: 24px;
  line-height: 29px;
  color: $special-text-color;
}

.contacts__title {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 25px;
  color: $special-text-color;
  margin: 0;
}

.contacts__text {
  font-weight: $font-light;
  font-size: 24px;
  line-height: 33px;
  color: $happy-text-color;
  margin: 0;
}

.contacts__map {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    height: 35px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 100% 35px;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .contacts__map {
    &::before {
      height: 90px;
      background-size: 100% 90px;
    }
  }

  .contacts__slogan {
    font-size: 40px;
    line-height: 54px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    padding: 0 40px;
  }

  .contacts__map-image {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    &::before {
      height: 130px;
      background-size: 100% 130px;
    }
  }

  .contacts__slogan {
    font-size: 50px;
    line-height: 68px;
  }

  .contacts__map-image {
    width: 1200px;
  }

  .contacts__list {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .contacts__list li:nth-child(1) {
    order: 0;
  }

  .contacts__list li:nth-child(2) {
    order: 1;
  }

  .contacts__title {
    padding-bottom: 34px;
  }
}
