.information {
  background: $special-background;
  text-align: center;

  border: 2px solid purple;
}

.information__slogan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 134px;
  font-weight: $font-light;
  font-size: 24px;
  line-height: 29px;
  color: $special-text-color;
  background-color: $main-background;
  margin: 0;
  padding: 46px 0 36px 0;
}

.information__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 35px;
}

.information__title {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 24px;
}

.information__discription {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 24px;
  color: $special-text-color;
}

@media (min-width: $tablet-width) {
  .information {
    display: grid;
    width: 660px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "title title"
      "img item"
      "img item"
      "img item";
  }

  .information__slogan {
    grid-area: title;
  }

  .information__image-wrapper {
    grid-area: img;
  }

  .information__item {
    grid-area: item;
    width: 310px;
    margin-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .information {
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "title title title"
      "img img img"
      "item item item";
  }

  .information__slogan {
    grid-area: title;
  }

  .information__image-wrapper {
    grid-area: img;
  }

  .information__list {
    grid-area: item;
    display: flex;
    flex-direction: row;
  }
}
