.information {
  background-color: $special-background;
  text-align: center;
  background-position: 0 0;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.information__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 64px 20px 305px;
  margin: 0;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 43px);
  background-size: 157px 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }
}

.information__title {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 24px;
}

.information__discription {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 24px;
  color: $special-text-color;
}

@media (min-width: $tablet-width) {
  .information__list {
    align-items: flex-end;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 27px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px bottom;
    background-size: 268px 481px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px 481px;
    }
  }

  .information__item {
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .information__list {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    background-image: none;
  }

  .information__item {
    width: 252px;
    padding-top: 339px;
    line-height: 30px;
    text-align: center;

    &--first {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 294px auto;
      }
    }

    &--second {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 294px auto;
      }
    }

    &--third {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 294px auto;
      }
    }
  }

  .information__title {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
  }

  .information__discription {
    font-size: 18px;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 0;
  }

  .information__screen {
    display: none;
  }
}
