.intro {
  font-weight: $font-light;
  color: $text-color;
  text-align: center;
}

.intro__slogan {
  font-weight: $font-light;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 90px 0 30px 0;
}

.intro__app-wrapper {
  padding: 28px 0 38px 0;
  background: $app-background;
}

.intro__download {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;
  width: 280px;
  height: 55px;
  border-radius: 30px;
  background-color: $app-background;
  border: 3px solid $main-background;

  &:hover {
    background-color: $main-background;
    color: $happy-text-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.intro__OS-info {
  font-weight: $font-light;
  font-size: 14px;
  line-height: 24px;
}

.logo-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 32px 0 28px 0;
  align-items: baseline;
  justify-content: space-between;
  max-width: 204px;
}

@media (max-width: $mobile-width-only) {
  .intro {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  .intro__image {
    min-height: 283px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: bottom left;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 250px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .intro__image {
    display: none;
  }

  .intro__header {
    margin-top: 110px;
  }

  .intro__wrapper {
    width: 660px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--hand {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 675px auto;
      }
    }
  }

  .intro__slogan {
    font-size: 40px;
    line-height: 48px;
    width: 240px;
    margin-left: 50px;
    margin-top: 74px;
    padding: 0;
  }

  .intro__download {
    width: 300px;
    background-color: inherit;
  }

  .intro__app-wrapper {
    background: none;
    padding-top: 38px;
    padding-bottom: 119px;
  }

  .intro__list {
    margin-left: 66px;
  }

  .intro__OS-info {
    font-size: 18px;
    line-height: 24px;
    margin: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top ;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .intro__header {
    margin-top: 105px;
    margin-left: 110px;
  }

  .intro__wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--hand {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: right bottom;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1080px auto;
      }
    }
  }

  .intro__slogan {
    font-size: 50px;
    line-height: 68px;
    width: 240px;
    margin-left: 50px;
    margin-top: 74px;
    padding: 0;
  }

  .intro__download {
    width: 300px;
    font-size: 21px;
    background-color: inherit;
    height: 56px;
    margin-left: 130px;
  }

  .intro__app-wrapper {
    background: none;
    padding-top: 51px;
    padding-bottom: 130px;
  }

  .intro__list {
    margin-left: 170px;
    margin-top: 35px;
  }

  .intro__OS-info {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 140px;
    padding-top: 20px;
  }
}
