.intro {
  font-weight: $font-light;
  color: $text-color;
  text-align: center;
}

.intro__slogan {
  font-weight: $font-light;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 29px 0 34px 0;
}

.intro__image {
  margin-bottom: -3px;
  margin-right: 58px;
}

.intro__app-wrapper {
  padding: 28px 0 38px 0;
  background: $app-background;
}

.intro__download {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;
  padding: 21px 38px;
  border-radius: 29px;
  background-color: $app-background;
  border: 3px solid $main-background;
}

.intro__OS-info {
  font-weight: $font-light;
  font-size: 14px;
  line-height: 24px;
}

.logo-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 32px 0 28px 0;
  align-items: baseline;
  justify-content: space-between;
  max-width: 204px;
}

@media (max-width: $mobile-width-only) {
  .intro__wrapper {
    background-image: $top-background;
  }
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    background-image: $topper-background;
    display: grid;
    width: 660px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "slogan img"
      "button img"
      "applogo img"
      "apptext img";
  }

  .intro__image-wrapper {
    grid-area: img;
  }

  .intro__slogan {
    grid-area: slogan;
    width: 240px;
    text-emphasis: wrap;
    margin-left: 66px;
    font-size: 40px;
    line-height: 48px;
  }

  .intro__download {
    grid-area: button;
    width: 300px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .intro__app-wrapper {
    background: none;
  }

  .intro__list {
    grid-area: applogo;
    margin-top: 30px;
    margin-left: 66px;
  }

  .intro__OS-info {
    grid-area: apptext;
    margin-top: 30px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    background-image: $toppest-background;
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "slogan img"
      "button img"
      "applogo img"
      "apptext img";
  }

  .intro__image-wrapper {
    grid-area: img;
  }

  .intro__slogan {
    grid-area: slogan;
    width: 240px;
    text-emphasis: wrap;
    margin-left: 220px;
    font-weight: $font-light;
    font-size: 50px;
    line-height: 68px;
  }

  .intro__download {
    grid-area: button;
    width: 300px;
  }

  .intro__app-wrapper {
    background: none;
  }

  .intro__list {
    grid-area: applogo;
    margin-top: 30px;
    margin-left: 177px;
  }

  .intro__OS-info {
    grid-area: apptext;
    margin-top: 30px;
    margin-left: 10px;
  }
}
