.logo-list {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 32px 0 28px 0;
  align-items: baseline;
  justify-content: space-between;
  max-width: 204px;
}

@media (min-width: $tablet-width) {
  .logo-list {
    margin: 0;
    margin-left: 196px;
  }
}
