.main-form__description {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $special-text-color;
}

.main-form__fill-form {
  font-weight: $font-normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $special-text-color;
  margin: 0;
  margin-bottom: 82px;
}

.main-form__fieldset {
  border: 2px solid $border-color;
  border-radius: 1px;
  padding: 0 20px;
  margin: 0;
}

.main-form__name-wrapper {
  padding: 40px 0;
}

.main-form__achievement-wrapper {
  background: $special-background;
  padding-top: 42px;
  padding-bottom: 20px;
}

.main-form__contacts-wrapper {
  padding: 40px 0;
}

.main-form__app-choice-wrapper {
  background: $special-background;
  padding-top: 42px;
  padding-bottom: 20px;
}

.main-form__comment-wrapper {
  padding: 40px 0;
}

.main-form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-form__list-item {
  padding-bottom: 29px;
}

.main-form__label {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $happy-text-color;
  padding-left: 20px;
  padding-right: 20px;
}

.main-form__field {
  font-weight: $font-normal;
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    color: $special-text-color;
  }

  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  height: 59px;
  border: 2px solid $border-color;
  border-radius: 1px;
  margin-top: 5px;
}

.main-form__legend {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $happy-text-color;
  padding-bottom: 22px;
}

.main-form__option {
  font-weight: $font-normal;
  font-size: 18px;
  line-height: 30px;
  color: $special-text-color;

  &--checkbox {
    position: relative;
    display: block;
    padding-left: 69px;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      border: 2px solid $border-color;
      border-radius: 1px;
      background-color: $main-background;
    }

    &::after {
      content: none;
      position: absolute;
      left: 8px;
      top: 11px;
      transform: rotate(-45deg);
      width: 21px;
      height: 10px;
      border-left: 2px solid $happy-text-color;
      border-bottom: 2px solid $happy-text-color;
    }
  }

  &--radio {
    position: relative;
    display: block;
    padding-left: 69px;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      border-width: 2px;
      border-style: solid;
      border-color: $border-color;
      border-radius: 50%;
      background-color: $main-background;
    }

    &::after {
      content: none;
      position: absolute;
      left: 13px;
      top: 50%;
      width: 14px;
      height: 14px;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: $happy-text-color;
    }
  }
}

.main-form__checkbox:checked + .main-form__option::after {
  content: "";
}

.main-form__radio:checked + .main-form__option::after {
  content: "";
}

.main-form__text-field {
  padding: 14px 19px;

  &::placeholder {
    font-weight: $font-normal;
    font-size: 18px;
    line-height: 30px;
    color: $special-text-color;
  }
}

.main-form__field-input {
  display: block;
  padding: 14px 20px 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  border: 2px solid $border-color;
  border-radius: 1px;
  resize: vertical;
}

.main-form__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin: 52px 20px 26px 20px;
}

.main-form__button {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
  background-color: $button-background;

  padding: 16px 15px;
  width: 276px;
  border: 2px solid $button-background;
  border-radius: 1px;
}

.main-form__note {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $special-text-color;
}

.main-form__star {
  color: $happy-text-color;
}

@media (max-width: $mobile-width-only) {
  .main-form__fill-form {
    display: none;
  }

  .main-form__fieldset {
    border: none;
  }

  .main-form__legend {
    &--contacts-hide {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-form__form {
    display: flex;
    flex-direction: column;
  }

  .main-form__user-name {
    border: none;
  }

  .main-form__user-achievement {
    min-height: 480px;
  }

  .main-form__user-contacts {
    min-height: 300px;
  }

  // .main-form__user-app-choice {
  //   min-height: 290px;
  // }

  .main-form__form div:nth-child(1) {
    order: 1;
  }

  .main-form__form div:nth-child(2) {
    order: 4;
    background: $main-background;
  }

  .main-form__form div:nth-child(3) {
    order: 3;
  }

  .main-form__form div:nth-child(4) {
    order: 2;
    background: $main-background;
  }

  .main-form__form div:nth-child(5) {
    order: 5;
  }

  .main-form__form div:nth-child(6) {
    order: 6;
  }

  .main-form__description {
    margin: 100px auto 82px auto;
    width: 490px;
    font-size: 18px;
    text-align: center;

    br {
      display: none;
    }
  }

  .main-form__list {
    padding: 0;

    &--name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--contacts {
      display: flex;
      flex-direction: column;
    }

    &--achievement {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 50px;
    }
  }

  .main-form__list-item {
    &--name {
      display: flex;
      align-items: center;
    }

    &--contacts {
      display: flex;
      flex-direction: column-reverse;

      &::after {
        content: "";
        position: relative;
        top: 59px;
        left: 556px;
        width: 59px;
        height: 59px;
        background-color: $border-color;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--telephone-img::after {
      background-image: url("../img/icon-phone.svg");
    }

    &--email-img::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  .main-form__field {
    padding: 15px;
    width: 100%;
    margin: 0;
  }

  .main-form__text-field {
    width: 496px;
    margin: 20px auto 53px;
  }

  .main-form__button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  .main-form__button {
    width: 296px;
  }
}

@media (min-width: $desktop-width) {
  .main-form__form {
    margin: 0 auto;
    width: 936px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "user app"
      "contacts contacts"
      "achiv achiv"
      "comment comment"
      "button button";
  }

  .main-form__name-wrapper {
    grid-area: user;
    padding-bottom: 0;
    padding-top: 0;
  }

  .main-form__achievement-wrapper {
    grid-area: achiv;
  }

  .main-form__contacts-wrapper {
    grid-area: contacts;
  }

  .main-form__app-choice-wrapper {
    grid-area: app;
    padding: 0;
  }

  .main-form__comment-wrapper {
    grid-area: comment;
  }

  .main-form__button-wrapper {
    grid-area: button;
  }

  .main-form__description {
    font-size: 18px;
    margin: 100px auto 70px auto;
    width: 756px;
  }

  .main-form__button {
    width: 296px;
  }

  .main-form__list {
    &--name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--contacts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 816px;
      margin: 0 auto;
    }
  }

  .main-form__list-item {
    &--name {
      margin-top: 27px;
    }

    &--contacts {
      display: flex;
      flex-direction: column-reverse;

      &::after {
        content: "";
        position: relative;
        top: 59px;
        left: 310px;
        width: 59px;
        height: 59px;
        background-color: $border-color;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .main-form__field {
    padding: 15px;
    width: 371px;
    margin: 0;
  }

  .main-form__text-field {
    width: 816px;
    margin: 20px auto 45px;
  }

  .main-form__field-input {
    min-height: 124px;
  }

  .main-form__user-contacts {
    min-height: 156px;
  }

  .main-form__user-app-choice {
    padding: 49px 100px 24px 74px;
  }

  .main-form__legend {
    padding: 0;
    display: flex;
    flex-direction: row;

    br {
      display: none;
    }
  }
}
