.main-reviews {
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
}

.main-reviews__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-reviews__about {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $special-text-color;
  margin: 0;
}

.main-reviews__title {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 30px;
}

.main-reviews__description {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $special-text-color;
  width: 280px;
  margin: 0 auto;
}

.main-reviews__toggles {
  margin-top: 33px;
  margin-bottom: 13px;
}

.main-reviews__content {
  &--second {
    display: none;
  }

  &--third {
    display: none;
  }
}

.main-reviews__slider-nav {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-reviews__about {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-reviews__content {
    display: flex;
    flex-direction: column-reverse;

    &--second {
      display: none;
    }

    &--third {
      display: none;
    }
  }

  .main-reviews__title {
    margin: 50px 0 0 0;
    font-size: 20px;
  }

  .main-reviews__description {
    font-size: 18px;
    text-align: center;
    width: 620px;
  }
}

@media (min-width: $desktop-width) {
  .main-reviews {
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 79px 63px;
  }

  .main-reviews__content {
    &--second {
      display: none;
    }

    &--third {
      display: none;
    }
  }

  .main-reviews__description {
    width: 688px;
    padding-top: 78px;
    text-align: center;
  }

  .main-reviews__title {
    font-size: 24px;
  }

  .main-reviews__about {
    font-size: 18px;
  }

  .main-reviews__toggles {
    display: none;
  }
}
