.main-reviews {
  background: $main-background;
  text-align: center;

  border: 2px solid sienna;
}

.main-reviews__title {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 30px;
}

.main-reviews__description {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $special-text-color;
}
