.main-reviews {
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
}

.main-reviews__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-reviews__about {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $special-text-color;
  margin: 0;
}

.main-reviews__title {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 30px;
}

.main-reviews__description {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $special-text-color;
}

.main-reviews__toggles {
  margin-top: 33px;
  margin-bottom: 13px;
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
}

.slider__toggle {
  &--current {
    box-shadow: 0 0 0 3px $special-text-color;
    background-color: transparent;
  }

  margin-left: 9px;
  margin-right: 10px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}

@media (max-width: $mobile-width-only) {
  .main-reviews__about {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-reviews__content {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-reviews__title {
    margin: 50px 0 0 0;
    font-size: 20px;
  }

  .main-reviews__description {
    font-size: 18px;
    text-align: center;

    br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-reviews__description {
    width: 688px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;

    br {
      display: none;
    }
  }

  .main-reviews__title {
    font-size: 24px;
  }

  .main-reviews__about {
    font-size: 18px;
  }
}
