.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.site-list__item {
  padding: 16px 0;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 173px;
    width: 900px;
  }

  .site-list__item {
    box-shadow: none;
  }
}
