.page-main__slogan {
  text-align: center;
  font-weight: $font-light;
  font-size: 24px;
  line-height: 29px;
  color: $special-text-color;
  margin: 0;
  padding: 46px 0 36px 0;
}

@media (min-width: $tablet-width) {
  .page-main__slogan {
    font-size: 40px;
    line-height: 54px;
  }

  .page-main__top-slogan {
    margin: 0;
  }

  .page-main__bottom-slogan {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__slogan {
    font-size: 50px;
    line-height: 68px;
  }

  .page-main__top-slogan {
    margin: 0;
  }

  .page-main__bottom-slogan {
    margin: 0;
  }
}
