$font-normal: 400;
$special-text-color: #283645;

.page-footer {
  color: $special-text-color;
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  border: 2px solid yellow;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.social {
  width: 172px;
  margin: 0 74px;
}

.social__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0;
}

.copyright {
  width: 130px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
