.page-footer {
  color: $special-text-color;
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  border: 2px solid yellow;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.social {
  margin: 41px auto;
}

.social__list {
  width: 210px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  padding: 0;
}

.social__link {
  &--twitter {
    border: 3px solid lightgray;
    border-radius: 100%;
    padding: 18px;
  }

  &--facebook {
    border: 3px solid lightgray;
    border-radius: 100%;
    padding: 18px 24px;
  }

  &--youtube {
    border: 3px solid lightgray;
    border-radius: 100%;
    padding: 18px 22px;
  }
}

.copyright {
  width: 130px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: $mobile-width-only) {
  .page-footer__desktop-logo {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
  }

  .page-footer__desktop-logo {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px;
  }

  .page-footer__mobile-logo {
    display: none;
  }

  .page-footer__desktop-logo {
    display: block;
  }

  .copyright {
    width: 153px;
  }

  .copyright__text {
    font-size: 18px;
  }
}
