.photo {
  color: $text-color;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 100%;
  }
}

.photo__slogan {
  font-weight: $font-light;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  padding-top: 102px;
  padding-bottom: 84px;
}

@media (min-width: $tablet-width) {
  .photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .photo__slogan {
    font-size: 50px;
    line-height: 68px;
    padding-top: 191px;
    padding-bottom: 143px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .photo__slogan {
    font-size: 50px;
    line-height: 68px;
    padding-top: 184px;
    padding-bottom: 104px;
  }
}
