.round-diagram {
  margin-top: 76px;
  margin-bottom: 109px;
}

.round-diagram__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "img slogan"
    "img read"
    "img about";
}

.round-diagram__timer-image {
  grid-area: img;
  width: 238px;
  height: 276px;
  box-sizing: border-box;
  padding: 68px 64px 51px;
  background-image: url("../img/diagram-fill.svg"), url("../img/icon-timer.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 202px 202px, 238px 276px;
  background-position: 19px 55px, 0 0;
  margin: auto;
}

.round-diagram__timer-text {
  font-size: 96px;
  font-weight: $font-bold;
  line-height: 163px;
  color: $happy-text-color;
}

.round-diagram__slogan {
  grid-area: slogan;
  margin-bottom: 0;
  margin-left: 72px;
  margin-top: 38px;

  font-weight: $font-bold;
  font-size: 30px;
  line-height: 36px;
}

.round-diagram__text {
  grid-area: read;
  margin-top: 24px;
  margin-bottom: 0;
  margin-left: 72px;

  font-weight: $font-normal;
  font-size: 14px;
  line-height: 24px;
  color: $special-text-color;
}

.round-diagram__more-about {
  grid-area: about;
  margin-top: 24px;
  margin-bottom: 27px;
  margin-left: 72px;

  font-weight: $font-normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: $happy-text-color;
}

@media (max-width: $mobile-width-only) {
  .round-diagram {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .round-diagram {
    width: 640px;
    margin: 54px auto 109px;
  }
}

@media (min-width: $desktop-width) {
  .round-diagram {
    margin-top: -1px;
    width: auto;
    padding: 50px 0 67px 0;
    background-color: $special-background;
  }

  .round-diagram__timer-image {
    padding: 100px 64px 64px 80px;
    width: 298px;
    height: 345px;
    background-size: 253px 253px, 298px 345px;
    background-position: 22px 68px, 0 0;
  }

  .round-diagram__slogan {
    line-height: 30px;
  }

  .round-diagram__text {
    width: 520px;
    font-size: 18px;
    line-height: 30px;
  }

  .round-diagram__more-about {
    font-size: 18px;
    line-height: 30px;
  }

  .round-diagram__timer-text {
    font-size: 120px;
  }
}
