.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
}

.slider__toggle {
  &--current {
    box-shadow: 0 0 0 3px $special-text-color;
    background-color: transparent;
  }

  margin-left: 9px;
  margin-right: 10px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}

@media (min-width: $desktop-width) {
  .slider-nav {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .slider-reviews__slider-nav {
    position: absolute;
    z-index: 1;
    display: flex;
    top: 50%;
    left: 10px;
    right: 10px;
  }

  .slider-nav__slider-button {
    position: relative;
    display: inline-block;
    bottom: 165px;
    width: 22px;
    height: 41px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &--prev {
      background-image: url("../img/icon-review-arrow-left.svg");
      background-size: 100%;
    }

    &--next {
      background-image: url("../img/icon-review-arrow-right.svg");
      background-size: 100%;
    }
  }
}
