.store {
  padding-top: 20px;
  width: 280px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 110px;
  background-size: 258px 286px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 93px;
    padding-bottom: 110px;
    width: 620px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -55px 74px;
    background-size: 700px 545px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 108px 10px 122px;
    width: 940px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 26px 99px;
    background-size: 1050px 645px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      // background-size: 100%;
      background-position: bottom;
    }
  }
}

.store__content {
  display: flex;
  flex-direction: column;
  min-height: 660px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
  }
}

.store__title {
  font-weight: $font-light;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    width: 240px;
    text-align: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.store__button {
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: 3px solid $main-background;
  // width: 280px;
  padding: 15px;
  border-radius: 29px;
  color: $text-color;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 15px;
    width: 300px;
  }

  &:hover {
    background-color: $main-background;
    color: $happy-text-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.store__list {
  display: flex;
  justify-content: center;
  width: 250px;
  list-style: none;
  margin-top: 32px;
  margin-bottom: 23px;
  margin-left: 36px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    margin-bottom: 56px;
  }
}

.store__item {
  margin-left: 12px;
  margin-right: 12px;
}

.store__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 56px;
  height: 56px;
}

.store__description {
  font-weight: $font-light;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 280px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 300px;
  }
}
