.upload {
  text-align: center;
}

.upload__description {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 30px;
  color: $special-text-color;

  padding-top: 49px;
  padding-bottom: 52px;
  margin: 0;
}

.upload__form {
  background: $special-background;
}

.upload__filter-box {
  width: 300px;
  padding-top: 50px;
  margin: 0 auto;
}

.upload__filter-range {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  // height: 14px;
  padding: 20px 0;
}

.upload__filter-range-track {
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: #283645;
}

.upload__filter-range-thumb {
  position: absolute;
  top: 50%;
  left: 30%; /* значение задано только для того, чтобы показать положение кнопки*/
  transform: translateY(-50%);
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #d22856;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.upload__filter-range-thumb:active {
  background-color: #d22856;

  @media (min-width: 660px) {
    margin-right: 18px;
    width: 200px;
  }

  @media (min-width: 960px) {
    width: 290px;
  }
}

.upload__button {
  width: 280px;
  height: 55px;
  font-weight: $font-bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 30px;
  background-color: inherit;
  border: 3px solid;

  &--post {
    color: $happy-text-color;

    &:hover {
      background-color: $happy-text-color;
      color: $text-color;
      border-color: $happy-text-color;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    color: rgba(40, 54, 69, 0.1);

    &:hover {
      color: rgba(40, 54, 69, 0.3);
      border-color: rgba(40, 54, 69, 0.3);
    }

    &:active {
      background-color: rgba(40, 54, 69, 0.3);
      color: rgba(255, 255, 255, 0.3);
      border: unset;
    }
  }
}

.upload__image {
  width: 280px;
  padding-top: 20px;
}

.upload__controls {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 275px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    width: 410px;
  }
}

.upload__filters {
  padding: 42px 20px 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.upload__filters-buttons {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.upload__icon-wrapper {
  display: block;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 27px;
    height: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }

  & .upload__icon {
    fill: $happy-text-color;
  }
}

.upload__filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.upload__filter {
  position: relative;
  display: none;
  align-items: center;
  height: 72px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    bottom: 0;
    width: "calc(100% + 40px * 2)";
    height: 1px;
    background-color: rgba(40, 54, 69, 0.1);

    @media (min-width: $tablet-width) {
      left: 0;
      width: 100%;
    }
  }

  &--current {
    display: flex;
  }
}

// .upload__filter-range {
//   margin-left: auto;
//   width: 100%;
//   height: 14px;

//   @media (min-width: $tablet-width) {
//     margin-right: 18px;
//     width: 202px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-right: 30px;
//     width: 288px;
//   }
// }

.upload__buttons {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

.upload__scale-image {
  margin: 0 auto;
  width: 240px;
  padding: 34px 0;
}

.upload__list-item {
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  &--first {
    background-image: url("../img/icon-editor-crop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--second {
    background-image: url("../img/icon-editor-fill.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &--third {
    background-image: url("../img/icon-editor-contrast.svg");
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

.upload__list-button {
  padding: 0;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.upload__button-wrapper {
  margin: 0 auto;
  padding: 38px 0 41px 0;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .upload__description {
    font-size: 18px;
    padding-top: 73px;
    padding-bottom: 78px;
  }

  .upload__form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "img icons"
      "img button";
  }

  .upload__image {
    grid-area: img;
    width: 300px;
    margin: 0;
    padding: 20px 20px 50px 20px;
  }

  .form-photo__controls {
    grid-area: icons;
  }

  .upload__button-wrapper {
    grid-area: button;
    padding: 0;
    margin: 0;
  }

  .upload__button {
    width: 260px;
  }

  .upload__scale-image {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .upload__description {
    font-size: 18px;
    padding-top: 67px;
    padding-bottom: 75px;
  }

  .upload__form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "img icons"
      "img button";
  }

  .upload__image {
    grid-area: img;
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 77px 20px 57px 80px;
  }

  .upload__button {
    width: 183px;
  }

  .upload__list {
    grid-area: icons;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
  }

  .upload__button-wrapper {
    grid-area: button;
    width: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 50px 0;
  }

  .upload__scale-image {
    display: none;
  }
}
