$main-font: "Open Sans", "Arial", sans-serif;
$font-bold: 700;
$font-normal: 400;
$font-light: 300;

$main-background: #ffffff;
$menu-background: #283645;

$special-background: #f2f2f2;
$app-background: #1d2631;
$button-background: #2aab6d;

$main-color: #000000;
$text-color: #ffffff;
$special-text-color: #283645;
$happy-text-color: #d22856;
$border-color: #e5e5e5;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
